<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" ng-app="ttApp">
<head>
    <title>{%if title%}{{title}}{%else%}Basic title{%endif%}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}"/>
    <script src="{{url_for('static', filename='js_lib/angular.min.js')}}"></script>
    <script src="{{url_for('static', filename='js_lib/jquery-1.11.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js_lib/angular-route.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
    <script src="{{url_for('static', filename='js/controllers.js')}}"></script>
    <script src="{{url_for('static', filename='js/derectivies.js')}}"></script>
    <script src="{{url_for('static', filename='js_lib/angular-local-storage.js')}}"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{url_for('index_view')}}">
                    tT
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">
                    <span class="glyphicon glyphicon-home"></span>Home</a>
                </li>
                {%if current_user.is_anonymous()%}
                    <li><a href="/#/register">Register</a></li>
                    <li><a href="/#/signin">Sign in</a></li>
                {%else%}
                    <li><a href="{{url_for('logout')}}" title="">logout</a></li>
                    <li><a href="#" title="">
                        <span class="glyphicon glyphicon-cog"></span>my settings</a>
                    </li>
                {%endif%}
            </ul>
        </div>
    </nav>
    <div class="container">
        {%block content%}

        {%endblock%}
    </div>
    <script src="{{url_for('static',filename='js_lib/bootstrap.min.js')}}"></script>
</body>
</html>


